apiVersion: apps/v1
kind: Deployment
metadata:
  name: checkout
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: checkout
  template:
    metadata:
      labels:
        app: checkout
    spec:
      containers:
      - name: checkout
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - containerPort: 8080
        env:
        - name: DEGRADED_MODE
          value: "{{ .Values.env.DEGRADED_MODE }}"
        - name: ERROR_RATE
          value: "{{ .Values.env.ERROR_RATE }}"
        - name: LATENCY_MS
          value: "{{ .Values.env.LATENCY_MS }}"
        - name: CHAOS
          value: "{{ .Values.env.CHAOS }}"
        readinessProbe:
          httpGet: { path: /readyz, port: 8080 }
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet: { path: /healthz, port: 8080 }
          initialDelaySeconds: 10
          periodSeconds: 10
        resources: {{- toYaml .Values.resources | nindent 10 }}
