apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: checkout
  labels:
    release: mon
spec:
  selector:
    matchLabels:
      app: checkout
  endpoints:
  - port: http
    path: /metrics
    interval: 15s
